{
        "auths": {},
        "proxies": {
                "default": {
                        "httpProxy": "http://10.200.140.230:80",
                        "httpsProxy": "http://10.200.140.230:80",
                        "noProxy": "127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
                }
        }
}