vrrp_instance VI_1 {
{% if inventory_hostname == groups['balanceadores'][0] %}
    state MASTER
{% else %}
    state BACKUP
{% endif %}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 101
    priority {{ 100 - groups['balanceadores'].index(inventory_hostname) }}
    advert_int 1
    unicast_src_ip {{ ansible_default_ipv4.address }}
    unicast_peer {
{% if inventory_hostname == groups['balanceadores'][0] %}
        {{ hostvars[groups['balanceadores'][1]]['ansible_default_ipv4']['address'] }}
{% else %}
        {{ hostvars[groups['balanceadores'][0]]['ansible_default_ipv4']['address'] }}
{% endif %}
    }
    virtual_ipaddress {
        {{ hostvars[groups['bal_vip'][0]].ansible_host }}
    }
}

