apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
imageRepository: "{{ registry_domain }}:{{ registry_port }}/transformacion"
imageTag: "v{{ kubernetes_version }}"
kubernetesVersion: "v{{ kubernetes_version }}"
controlPlaneEndpoint: "{{ ip_vip }}:6443"
networking:
  podSubnet: "{{ pod_network_cidr }}" # --pod-network-cidr
etcd:
  external:
    endpoints:
    - https://{{ ip_etcd1 }}:2379
    - https://{{ ip_etcd2 }}:2379
    - https://{{ ip_etcd3 }}:2379
    caFile: /etc/kubernetes/pki/etcd/ca.crt
    certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
    keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
