server = "https://{{ hostname_registry }}:{{ registry_port }}"
[host."https://{{ hostname_registry }}:{{ registry_port }}"]
  ca = "/etc/containerd/certs.d/{{ hostname_registry }}:{{ registry_port }}/ca.crt"
