server = "https://{{ hostname_registry }}:{{ registry_port }}"
[host."https://{{ hostname_registry }}:{{ registry_port }}"]
  ca = "/usr/local/{{entorno }}/{{ user_home_dir }}/containerd/certs.d/{{ hostname_registry }}:{{ registry_port }}/ca.crt"
